.td2 .am-circle{
    width:35px;
    height:35px
}
.td1{
   padding-right:10px;
   width:35%;
}
.td2{
   padding-left:20px
}

#doc-my-tabs{
  
}

#main-four li{
   
}

.box4{
    padding-left:2%;
    border-bottom:1px solid gainsboro;
    padding-bottom:5px;
    padding-top:5px
    
}
.box4 i{
    float:right;
    margin-right:2%;
    padding-top:10px
}
.box5 span{
    padding-left:2%;
    font-size:12px
}
.box5 td{
    width:50%;
    height:150px;
    padding-top:10px;
    padding-left:2%;
    padding-right:2%
}
.box5 td img{
    width:100%;
    height:100%
}


 .parper{
            width:100%;
            height:150px
        }
        .total{
            height:90%
        }
        .picture{
             width:35%;
             height:85%; 
             padding-top:20px;
             padding-left:10px; 
             float:left
        }
        .descripsion{
            height:60%; 
            padding-top:20px
        }
        .name{
            font-size:24px; 
            padding-left:10px;
        }
        .am-icon-heart-o{
            float:right;
            color:red; 
            padding-right:10px
        }
        .number{
            padding-left:10px
        }
        .bb{
            padding-left:10px
        }
        .price{
            color:red; 
            float:right;
            padding-right:5px
        }
        .small{
            height:10%
        }
      .am-nav-tabs.am-nav-justify>li>a{
          border-bottom:0px !important
      }

.am-nav-tabs>li.am-active>a:hover{
    border:0px;
    color:cornflowerblue
}


.am-nav-tabs>li.am-active>a{
    border:0px;
    color:black
}
a{
    color:black
}
li{
    border-bottom:2px solid gainsboro
}

.am-nav-tabs>li>a{
    border:0px
}