header i{
    color:black
}


.main{
    width:90%;
    height:550px;
    margin-left:5%;
    background-color:black;
    margin-top:30px;

}

.name{
    text-align:center;
    padding-top:80px;
    color:white

}

.img{
    text-align:center;
    color:white;
    padding-top:80px
}
.img img{
    margin-top:10px
}