.box1{
    margin-top:10px;
    color:black !important
}
.box1 .boxleft{
    float:left;
    height:30px;
    line-height:30px;
    padding-left:10px;
    color:black !important
}

.box1 .boxright{
    float:right;
    height:30px;
    line-height:30px;
    padding-right:10px;
    color:black !important
}
.box2{
    width:100% !important
}
.box2 .img{
    float:left;
    width:40%;

}
 .box2 .txt{
    float:right;
    width:55% !important;
    padding-left:5%;
    color:black !important;
    font-size:14px
}

.anniu{
    float:right;
    margin-top:10px
}
.anniu button{
    margin-left:5px
}

.am-icon-arrow-left{
    color:black
}