<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.DeliveryDao">

	<!-- 用户信息表 -->
	<sql id="delivery"> T_DELIVERY </sql>
	<sql id="address"> T_ADDRESS </sql>
	<resultMap id="beanMap" type="Delivery">
		<result column="DELIVERY_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="COURIER_NUMBER" property="courierNumber" />
		<result column="DELIVERY_STATUS" property="deliveryStatus" />
		<result column="DELIVERY_NOMEY" property="deliveryMoney" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="Delivery">
		insert into
		<include refid="delivery" />
		(DELIVERY_ID,VERSION,
		CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,COURIER_NUMBER,DELIVERY_STATUS,DELIVERY_NOMEY)
		values (id,0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{courierNumber},#{deliveryStatus},#{deliveryMoney})
	</insert>

	<update id="update" parameterType="Delivery">
		update
		<include refid="delivery" />
		<set>
			VERSION = #{version}+1,
			COURIER_NUMBER=#{courierNumber},
			DELIVERY_STATUS=#{deliveryStatus},
			DELIVERY_NOMEY=#{deliveryMoney},
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5}
		</set>
		<where>
			DELIVERY_ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="delivery" />
		where DELIVERY_ID = #{id}
	</select>

	<select id="getByOrderId" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="delivery" />
		where ORDER_ID = #{orderId}
	</select>

	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="delivery" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="delivery" />
		where DELIVERY_ID = #{id}
	</delete>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="delivery" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by CREATETIME desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="delivery" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<sql id="condition_sql">
		<if test="courierNumber != null and courierNumber != '' ">
			and
			<include refid="delivery" />
			.COURIER_NUMBER = #{courierNumber,jdbcType=VARCHAR}
		</if>
		<if test="orderId != null and orderId != '' ">
			and
			<include refid="delivery" />
			.ORDER_ID = #{orderId,jdbcType=VARCHAR}
		</if>
		<if test="deliveryStatus != null and deliveryStatus != '' ">
			and
			<include refid="delivery" />
			.DELIVERY_STATUS = #{deliveryStatus}
		</if>
		<if test="orderDateBegin != null and orderDateBegin != '' ">
			and
			<include refid="delivery" />.ORDER_SUCCESS <![CDATA[ >= ]]>
			#{orderDateBegin,jdbcType=VARCHAR}
		</if>
		<if test="orderDateEnd != null and orderDateEnd != '' ">
			and
			<include refid="delivery" />.ORDER_SUCCESS <![CDATA[ <= ]]>
			#{orderDateEnd,jdbcType=VARCHAR}
		</if>
		<if test="shopName != null and shopName != '' ">
			and
			<include refid="delivery" />
			.SHOP_NAME = #{shopName,jdbcType=VARCHAR}
		</if>
	</sql>
</mapper>