<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.ThemetzShopDao">

	<!-- 用户信息表 -->
	<sql id="themetzShop"> T_THEMETZ_SHOP </sql>
	<resultMap id="beanMap" type="ThemetzShop">
		<id column="THEMETZ_SHOP_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="T_SHOP_ID" property="shopId" />
		<result column="T_THEMETZ_ID" property="themetzId" />
		<result column="THEMETZ" property="themetz" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="ThemetzShop" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="themetzShop" />
		(VERSION, CREATETIME,THEMETZ,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		T_SHOP_ID,
		T_THEMETZ_ID)
		values (0,
		NOW(),#{themetz},#{field1},#{field2},#{field3},#{field4},#{field5},#{shopId},#{themetzId})
	</insert>

	<update id="update" parameterType="ThemetzShop">
		update
		<include refid="themetzShop" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			T_SHOP_ID=#{shopId},
			T_THEMETZ_ID=#{themetzId},
			THEMETZ=#{themetz}
		</set>
		<where>
			THEMETZ_SHOP_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="themetzShop" />
		where THEMETZ_SHOP_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="themetzShop" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by THEMETZ_SHOP_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="themetzShop" />
		where THEMETZ_SHOP_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="shopId != null and shopId != ''"> and T_SHOP_ID
			= #{shopId}
		</if>
		<if test="themetzId != null and themetzId != ''"> and T_THEMETZ_ID
			= #{themetzId}
		</if>
		<if test="themetz != null and themetz != ''"> and THEMETZ
			= #{themetz}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="themetzShop" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by THEMETZ_SHOP_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="themetzShop" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>