<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.StoreSignDao">

	<!-- 用户信息表 -->
	<sql id="storeSign"> T_STORE_SIGN </sql>
	<resultMap id="beanMap" type="StoreSign">
		<id column="STORE_SIGN_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="STORE_SIGN" property="storeSign" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="StoreSign" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="storeSign" />
		(VERSION,
		CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,STORE_SIGN)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{storeSign})
	</insert>

	<update id="update" parameterType="StoreSign">
		update
		<include refid="storeSign" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			STORE_SIGN=#{storeSign}
		</set>
		<where>
			STORE_SIGN_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="storeSign" />
		where STORE_SIGN_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="storeSign" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by STORE_SIGN_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="storeSign" />
		where STORE_SIGN_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="storeSign != null and storeSign != ''"> and STORE_SIGN
			= #{storeSign}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="storeSign" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by STORE_SIGN_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="storeSign" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>