<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.ShopPicDao">

	<!-- 用户信息表 -->
	<sql id="shopPic"> T_SHOP_BRIEF_PIC </sql>
	<resultMap id="beanMap" type="ShopPic">
		<id column="SHOP_BRIEF_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="T_SHOP_ID" property="shopId" />
		<result column="PIC_URL" property="picUrl" />
		<result column="PIC_NUM" property="picNum" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="ShopPic" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="shopPic" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		T_SHOP_ID
		,PIC_URL,PIC_NUM)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{shopId},#{picUrl},#{picNum})
	</insert>

	<update id="update" parameterType="ShopPic">
		update
		<include refid="shopPic" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			T_SHOP_ID=#{shopId},
			PIC_URL=#{picUrl},
			PIC_NUM=#{picNum}
		</set>
		<where>
			SHOP_BRIEF_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="shopPic" />
		where SHOP_BRIEF_ID = #{id}
	</select>
	<select id="listBy" resultMap="beanMap">
		select * from
		<include refid="shopPic" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by SHOP_BRIEF_ID
	</select>
	
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="shopPic" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by SHOP_BRIEF_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="shopPic" />
		where SHOP_BRIEF_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="shopId != null and shopId != ''"> and T_SHOP_ID
			= #{shopId}
		</if>
		<if test="picUrl != null and picUrl != ''"> and PIC_URL
			= #{picUrl}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="shopPic" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by SHOP_BRIEF_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="shopPic" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>