<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.ShopLogDao">

	<!-- 用户信息表 -->
	<sql id="shopLog"> T_SHOP_LOG </sql>
	<resultMap id="beanMap" type="ShopLog">
		<id column="SHOP_LOG_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="SHOP_NUMBER" property="shopNumber" />
		<result column="STORE_NUMBER" property="storeNumber" />
		<result column="HANDLE_STATUS" property="handleStatus" />
		<result column="CONSUMPTION_STATUS" property="consumptionStatus" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="ShopLog" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="shopLog" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		SHOP_NUMBER,
		HANDLE_STATUS,
		CONSUMPTION_STATUS)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{shopNumber},#{handleStatus},#{consumptionStatus})
	</insert>

	<update id="update" parameterType="ShopLog">
		update
		<include refid="shopLog" />
		<set>
			version = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			SHOP_NUMBER=#{shopNumber},
			HANDLE_STATUS=#{handleStatus},
			CONSUMPTION_STATUS=#{consumptionStatus}
		</set>
		<where>
			SHOP_LOG_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="shopLog" />
		where SHOP_LOG_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="shopLog" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by SHOP_LOG_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="shopLog" />
		where SHOP_LOG_ID = #{shopTypeId}
	</delete>
	<delete id="deleteByStatus" parameterType="long">
		delete from
		<include refid="shopLog" />
		where CONSUMPTION_STATUS=#{consumptionStatus}
	</delete>
	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="consumptionStatus != null and consumptionStatus != ''"> and CONSUMPTION_STATUS
			= #{consumptionStatus}
		</if>
		<if test="handleStatus != null and handleStatus != ''"> and HANDLE_STATUS
			= #{handleStatus}
		</if>
		<if test="shopNumber != null and shopNumber != ''"> and SHOP_NUMBER
			= #{shopNumber}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="shopLog" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by SHOP_LOG_ID 
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="shopLog" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>