<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.ShopFarmTypeDao">

	<!-- 用户信息表 -->
	<sql id="shopFarmType"> T_SHOP_FARM_TYPE </sql>
	<resultMap id="beanMap" type="ShopFarmType">
		<result column="SHOP_FARM_TYPE_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="TYPE_NAME" property="typeName" />
		<result column="TYPE_TITLE" property="typeTitle" />
		<result column="STORE_NUMBER" property="storeNumber" />
		<result column="NUM" property="num" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="ShopFarmType">
		insert into
		<include refid="shopFarmType" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		TYPE_NAME,
		TYPE_TITLE,STORE_NUMBER,NUM)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{typeName},#{typeTitle},#{storeNumber},#{num})
	</insert>

	<update id="update" parameterType="ShopFarmType">
		update
		<include refid="shopFarmType" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			TYPE_NAME=#{typeName},
			TYPE_TITLE=#{typeTitle},
			STORE_NUMBER=#{storeNumber},
			NUM=#{num}
		</set>
		<where>
			SHOP_FARM_TYPE_ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="typeName != null and typeName != ''"> and TYPE_NAME
			= #{typeName}
		</if>
		<if test="typeTitle != null and typeTitle != ''"> and TYPE_TITLE
			= #{typeTitle}
		</if>
		<if test="storeNumber != null and storeNumber != ''"> and STORE_NUMBER
			= #{storeNumber}
		</if>
	</sql>

	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="shopFarmType" />
		where SHOP_FARM_TYPE_ID = #{id}
	</select>

	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="shopFarmType" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="shopFarmType" />
		where SHOP_FARM_TYPE_ID = #{id}
	</delete>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="shopFarmType" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by CREATETIME desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="shopFarmType" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
</mapper>