<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.StandardTypeDao">

	<!-- 用户信息表 -->
	<sql id="standardType"> T_STANDARD_TYPE </sql>
	<resultMap id="beanMap" type="StandardType">
		<id column="STANDARD_TYPE_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="STANDARD_TYPE_NAME" property="standardTypeName" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="StandardType" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="standardType" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		STANDARD_TYPE_NAME)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{standardTypeName})
	</insert>

	<update id="update" parameterType="StandardType">
		update
		<include refid="standardType" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			STANDARD_TYPE_NAME=#{standardTypeName}
		</set>
		<where>
			STANDARD_TYPE_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="standardType" />
		where STANDARD_TYPE_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="standardType" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by STANDARD_TYPE_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="standardType" />
		where STANDARD_TYPE_ID = #{id}
	</delete>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="standardType" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by STANDARD_TYPE_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="standardType" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="standardTypeName != null and standardTypeName != ''"> and STANDARD_TYPE_NAME
			= #{standardTypeName}
		</if>
	</sql>

</mapper>