<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.AccessDao">

	<!-- 用户信息表 -->
	<sql id="access"> T_ACCESS </sql>
	<resultMap id="beanMap" type="Access">
		<id column="ACCESS_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="TYPE" property="type" />
		<result column="PRIVINCE" property="privince" />
		<result column="CITY" property="city" />
		<result column="COUNTY" property="county" />
		<result column="SHOP_NAME" property="shopName" />
		<result column="SHOP_NUMBER" property="shopNumber" />
		<result column="STORE_NUMBER" property="storeNumber" />
		<result column="STORE_NAME" property="storeName" />
		<result column="IS_CALL" property="isCall" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="Access" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="access" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		TYPE,
		PRIVINCE,
		CITY,
		COUNTY,
		SHOP_NAME,
		STORE_NAME,
		IS_CALL,
		SHOP_NUMBER,
		STORE_NUMBER)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{type},
		#{privince},#{city},#{county},#{shopName},#{storeName},#{isCall},#{shopNumber},#{storeNumber})
	</insert>

	<update id="update" parameterType="Access">
		update
		<include refid="access" />
		<set>
			version = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			TYPE=#{type},
			PRIVINCE=#{privince},
			CITY=#{city},
			COUNTY=#{county},
			SHOP_NAME=#{shopName},
			STORE_NAME=#{storeName},
			IS_CALL=#{isCall}
		</set>
		<where>
			ACCESS_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="access" />
			where ACCESS_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="access" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by ACCESS_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="access" />
		where ACCESS_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="type != null and type != ''"> and TYPE
			= #{type}
		</if>
		<!-- Equal query -->
		<if test="privince != null and privince != ''"> and PRIVINCE
			= #{privince}
		</if>
		<!-- Equal query -->
		<if test="city != null and city != ''"> and CITY
			= #{city}
		</if>
		<!-- Equal query -->
		<if test="county != null and county != ''"> and COUNTY
			= #{county}
		</if>
		<!-- Equal query -->
		<if test="shopName != null and shopName != ''"> and SHOP_NAME
			like
			CONCAT(CONCAT('%',
			#{shopName}), '%')
		</if>
		<!-- Equal query -->
		<if test="storeName != null and storeName != ''"> and STORE_NAME
			like
			CONCAT(CONCAT('%',
			#{storeName}), '%')
		</if>
		<!-- Equal query -->
		<if test="isCall != null and isCall != ''"> and IS_CALL
			= #{isCall}
		</if>
		<if test="storeNumber != null and storeNumber != ''"> and STORE_NUMBER
			like
			CONCAT(CONCAT('%',
			#{storeNumber}), '%')
		</if>
		<if test="shopNumber != null and shopNumber != ''"> and SHOP_NUMBER
			like
			CONCAT(CONCAT('%',
			#{shopNumber}), '%')
		</if>
		<if test="orderDateBegin != null and orderDateBegin != '' ">
			and CREATETIME <![CDATA[ >= ]]>
			#{orderDateBegin,jdbcType=VARCHAR}
		</if>
		<if test="orderDateEnd != null and orderDateEnd != '' ">
			and CREATETIME <![CDATA[ <= ]]>
			#{orderDateEnd,jdbcType=VARCHAR}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="access" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by ACCESS_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="access" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>
