<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.ModuleListDao">

	<!-- 用户信息表 -->
	<sql id="moduleList"> T_MODULE_LIST </sql>
	<resultMap id="beanMap" type="ModuleList">
		<id column="MODULE_LIST_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="MODULE_NAME" property="moduleName" />
		<result column="TITLE" property="title" />
		<result column="PIC" property="pic" />
		<result column="FORWORD_ID" property="forwordId" />
		<result column="FORWORD_ADDRESS" property="forwordAddress" />
		<result column="FORWORD_TYPE" property="forwordType" />
		<result column="STATUS" property="status" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
		<result column="NUM" property="num" />
	</resultMap>

	<insert id="insert" parameterType="ModuleList" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="moduleList" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		MODULE_NAME,
		TITLE,
		PIC,
		FORWORD_ID, FORWORD_ADDRESS,FORWORD_TYPE,STATUS,NUM)
		values
		(0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{moduleName},
		#{title},#{pic},#{forwordId},#{forwordAddress},#{forwordType},101,#{num})
	</insert>

	<update id="update" parameterType="ModuleList">
		update
		<include refid="moduleList" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			MODULE_NAME=#{moduleName},
			TITLE=#{title},
			PIC=#{pic},
			FORWORD_ID=#{forwordId},
			FORWORD_ADDRESS=#{forwordAddress},
			FORWORD_TYPE=#{forwordType},
			STATUS=#{status},
			NUM=#{num}
		</set>
		<where>
			MODULE_LIST_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="moduleList" />
		where MODULE_LIST_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="moduleList" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by MODULE_LIST_ID
	</select>

	<select id="listBy" resultMap="beanMap">
		select * from
		<include refid="moduleList" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by MODULE_LIST_ID
	</select>
	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="moduleList" />
		where MODULE_LIST_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="moduleName != null and moduleName != ''"> and MODULE_NAME
			= #{moduleName}
		</if>
		<if test="title != null and title != ''"> and TITLE
			= #{title}
		</if>
		<if test="pic != null and pic != ''"> and PIC
			= #{pic}
		</if>
		<if test="forwordId != null and forwordId != ''"> and FORWORD_ID
			= #{forwordId}
		</if>
		<if test="forwordAddress != null and forwordAddress != ''"> and FORWORD_ADDRESS
			= #{forwordAddress}
		</if>
		<if test="forwordType != null and forwordType != ''"> and FORWORD_TYPE
			= #{forwordType}
		</if>
		<if test="status != null and status != ''"> and STATUS
			= #{status}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="moduleList" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by MODULE_LIST_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="moduleList" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>