<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.PicTypeDao">

	<!-- 用户信息表 -->
	<sql id="picType"> T_PIC_TYPE </sql>
	<resultMap id="beanMap" type="PicType">
		<id column="PIC_TYPE_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="PIC_TYPE" property="picType" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="PicType" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="picType" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		PIC_TYPE)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{picType})
	</insert>

	<update id="update" parameterType="PicType">
		update
		<include refid="picType" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			PIC_TYPE=#{picType}
		</set>
		<where>
			PIC_TYPE_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="picType" />
		where PIC_TYPE_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="picType" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by PIC_TYPE_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="picType" />
		where PIC_TYPE_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="picType != null and picType != ''"> and PIC_TYPE
			= #{picType}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="picType" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by PIC_TYPE_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="picType" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>