<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.ThemetzFirstDao">

	<!-- 用户信息表 -->
	<sql id="themetzFirst"> T_THEMETZ_FIRST </sql>
	<resultMap id="beanMap" type="ThemetzFirst">
		<id column="THEMETZ_FIRST_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="THEMETZ_FIRST" property="themetzFirst" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
	</resultMap>

	<insert id="insert" parameterType="ThemetzFirst" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="themetzFirst" />
		(VERSION, CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,
		THEMETZ_FIRST)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{themetzFirst})
	</insert>

	<update id="update" parameterType="ThemetzFirst">
		update
		<include refid="themetzFirst" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			THEMETZ_FIRST=#{themetzFirst}
		</set>
		<where>
			THEMETZ_FIRST_ID = #{id} and VERSION = #{version}
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="themetzFirst" />
		where THEMETZ_FIRST_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="themetzFirst" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by THEMETZ_FIRST_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="themetzFirst" />
		where THEMETZ_FIRST_ID = #{id}
	</delete>

	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="themetzFirst != null and themetzFirst != ''"> and THEMETZ_FIRST
			= #{themetzFirst}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="themetzFirst" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by THEMETZ_FIRST_ID desc
	</select>

	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="themetzFirst" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>