<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.upic.dao.impl.HotThemePnLinkDao">

	<!-- 用户信息表 -->
	<sql id="hotThemePnLink"> T_HOT_THEME_PN_LINK </sql>
	<resultMap id="beanMap" type="HotThemePnLink">
		<id column="HOT_THEME_PN_LINK_ID" property="id" />
		<result column="VERSION" property="version" />
		<result column="CREATETIME" property="createTime" />
		<result column="T_HOT_THEME_PN_ID" property="hotThemePnId" />
		<result column="T_TYPE_PN_ID" property="typePnId" />
		<result column="HOT_THEME_PN" property="hotThemePn" />
		<result column="PIC" property="pic" />
		<result column="TITLE" property="title" />
		<result column="ARTICAL_PN_NAME" property="articalPnName" />
		<result column="FIELD1" property="field1" />
		<result column="FIELD2" property="field2" />
		<result column="FIELD3" property="field3" />
		<result column="FIELD4" property="field4" />
		<result column="FIELD5" property="field5" />
		<result column="TYPE" property="type" />
	</resultMap>

	<insert id="insert" parameterType="HotThemePnLink" keyProperty="id"
		useGeneratedKeys="true">
		insert into
		<include refid="hotThemePnLink" />
		(VERSION,
		CREATETIME,FIELD1,FIELD2,FIELD3,FIELD4,FIELD5,T_HOT_THEME_PN_ID,T_TYPE_PN_ID,HOT_THEME_PN,PIC,TITLE,
		ARTICAL_PN_NAME,TYPE)
		values (0,
		NOW(),#{field1},#{field2},#{field3},#{field4},#{field5},#{hotThemePnId},#{typePnId},#{hotThemePn},#{pic},#{title},#{articalPnName},#{type})
	</insert>

	<update id="update" parameterType="HotThemePnLink">
		update
		<include refid="hotThemePnLink" />
		<set>
			VERSION = #{version}+1,
			FIELD1=#{field1},
			FIELD2=#{field2},
			FIELD3=#{field3},
			FIELD4=#{field4},
			FIELD5=#{field5},
			T_HOT_THEME_PN_ID=#{hotThemePnId},
			T_TYPE_PN_ID=#{typePnId},
			HOT_THEME_PN=#{hotThemePn},
			PIC=#{pic},
			TITLE=#{title},
			ARTICAL_PN_NAME=#{articalPnName},
			TYPE=#{type}
		</set>
		<where>
			HOT_THEME_PN_LINK_ID = #{id} and VERSION = #{version}
		</where>
	</update>

	<update id="updateByhotThemePnId" parameterType="HotThemePnLink">
		update
		<include refid="hotThemePnLink" />
		<set>
			VERSION = VERSION+1,
			HOT_THEME_PN=#{hotThemePn}
		</set>
		<where>
			T_HOT_THEME_PN_ID = #{hotThemePnId} 
		</where>
	</update>
	<select id="getById" parameterType="long" resultMap="beanMap">
		select * from
		<include refid="hotThemePnLink" />
		where HOT_THEME_PN_LINK_ID = #{id}
	</select>
	<select id="listAll" resultMap="beanMap">
		select * from
		<include refid="hotThemePnLink" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by HOT_THEME_PN_LINK_ID
	</select>

	<delete id="deleteById" parameterType="long">
		delete from
		<include refid="hotThemePnLink" />
		where HOT_THEME_PN_LINK_ID = #{id}
	</delete>
	<select id="getByTwoId" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="hotThemePnLink" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>
	<delete id="deleteByHotThemeId" parameterType="long">
		delete from
		<include refid="hotThemePnLink" />
		where T_HOT_THEME_PN_ID = #{hotThemePnId}
	</delete>
	<sql id="condition_sql">
		<!-- Equal query -->
		<if test="hotThemePnId != null and hotThemePnId != ''"> and T_HOT_THEME_PN_ID
			= #{hotThemePnId}
		</if>
		<if test="hotThemePn != null and hotThemePn != ''"> and HOT_THEME_PN
			= #{hotThemePn}
		</if>
		<if test="typePnId != null and typePnId != ''"> and T_TYPE_PN_ID
			= #{typePnId}
		</if>
		<if test="type != null and type != ''"> and TYPE
			= #{type}
		</if>
	</sql>

	<select id="listPage" parameterType="java.util.Map" resultMap="beanMap">
		select * from
		<include refid="hotThemePnLink" />
		<where>
			<include refid="condition_sql" />
		</where>
		order by HOT_THEME_PN_LINK_ID desc
	</select>


	<select id="listPageCount" parameterType="java.util.Map"
		resultType="long">
		select count(1) from
		<include refid="hotThemePnLink" />
		<where>
			<include refid="condition_sql" />
		</where>
	</select>

</mapper>